<ngx-search-bar [isChangeUrl]="true" [filters]="filters" [withFilter]="true" [withParamsClean]="true" path="brands" title="Marcas"  (data)="getData($event)">
  <ng-container filterMenu>
    <mat-form-field>
      <input matInput [(ngModel)]="filters['name'].value" placeholder="label" value="value">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="filters['address'].value"  placeholder="label" value="value">
    </mat-form-field>
  </ng-container>
</ngx-search-bar>

<div class="container">
  <div class="row" >
    <div class="col-12">
      <div class="row">
        <mat-card
          class="col-12 col-sm-6 col-md-4 col-lg-3"
          *ngFor="let brand of brands"
        >
        <mat-card-content>
            <h3>{{brand.name}}</h3>
            <small>{{brand.createdDate | date: 'medium'}}</small>
        </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
